*,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}
header{
    background-color: rgba(156, 126, 110, 1);
    padding: 25px 0;
}
header .container>*,
header li{
    display: inline-block;
}
.container{
    border: 1px solid black;
    max-width: 1112px;
    margin: 0 auto;
}
.logo{
    margin-right: 30px;
}
header nav{
    vertical-align: 25px;
}
header nav li{
    margin-right: 34px;
}
header nav li:last-child{
    margin-right: 0;
}
header nav a{
    text-decoration: none;
    color: white;
}
header .actions{
    margin-left: 320px;
    vertical-align: 17px;
}
header .actions button{
    background-color: transparent;
    border: none;
    margin-right: 43px;
}
header span{
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    width: 22px;
    height: 22px;
    font-weight: bold;
    color: rgba(156, 126, 110, 1);
    text-align: center;
    vertical-align: 28px;
    margin-left: -12px;
}
.hero{
    background-image: url(img/Group_3123464.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
}
.hero-left{
    display: inline-block;
    width: 583px;
    vertical-align: 95px;
    position: relative;
    z-index: 10;

}
.hero-left h1{

    color:white;
    font-size: 50px;
}
.hero-left p{
    color: #664535;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 28px 0 59px 0;
}
.hero-left a{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 17px 33px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.hero-left a:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.411);
}
.hero-right{
    display: inline-block;
}
.hero-right img:first-child{
    width: 520px;
}
.hero-right{
    position: relative;
    left: -70px;
    z-index: 1;
}
.hero-right img:last-child{
    width: 230px;
    position: absolute;
    right: 0px;
    bottom: -20px;
}
.tutorial{
    padding: 82px 0;
}
.title{
    text-align: center;
}
.title h2{
    font-size: 40px;
    color: #664535;
    font-weight: 700;
}
.title h2 span{
    color: #75B5C8;
}
.title p{
    color: #664535;
    font-size: 20px;
    font-weight: 400px;
    width: 750px;
    display: inline-block;
    margin: 11px 0 37px 0;
}
.tutorial .card-left{
    position: relative;
    border: 1px solid red;
    display: inline-block;
}
.tutorial .card-left img:last-child{
    position: absolute;
    bottom: -50px;
    right: -80px;
}
.tutorial .card-right{
    display: inline-block;
    vertical-align: 150px;
    color: #664535;
    font-size: 40px;
    line-height: 48px;
    width: 435px;
    margin-left: 180px;
}
.card-left::before{
    content: 'Easy to control!';
    position: absolute;
    top: 50px;
    right: -100px;
    padding: 24px 20px;
    width: 140px;
    background-color: #F0F0EE;
    border-radius: 7.59px 7.59px 7.59px 0px;
    font-size: 19.81px;
    line-height: 27.02px;
}
.card2{
    margin-top: 77px;
}
.card2 .card-right{
    margin-left: 0px;
}
.card2 .card-left{
    margin-left: 180px;
}
.wrapper {
    background-color:#13B0B1;
    border-radius: 20px;
    color: white;
    padding: 45px 103px;
}
.offer-left{
    width: 484px;
    display: inline-block;
}
.offer-left h3{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 18px;
}
.offer a{
    display: inline-block;
    background-color:#FF8543;
    padding: 17px 124px;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 57px;
    vertical-align: 30px;
}
.description h3{
    display: inline-block;
    font-size: 40px;
    width: 380px;
}
.description .color{
    color:#75B5C8;
    position: relative;

}
.description .border{

    background-color: black;
    display: block;
    height: 20px;
    width: 260px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}